<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= model.tittle %></title>
    <% include ./layouts/head.ejs %>
    
</head>
<body>
<header>
    <% include ./layouts/header.ejs %>
</header>
<main>
    <%= model.msg %>
</main>
<footer>
    <% include ./layouts/footer.ejs %>
</footer>
</body>
<script src="/js/main.js"></script>
</html>