main{
    min-height: 800px
}

.row-section{
   background-color: #2D414F; 
   border-radius: 5px;
   text-align: center;
   color: #fff;
}

main .container .row {
    margin: 10px 0;
}

.container .row .card{
    min-height: 350px;
}

i.edit:hover, i.delete:hover{
    cursor: pointer;
}

.scrollXTable{
    overflow-y: auto;
    overflow-x: auto;
    height: 225px;
}
